# ===============================
# Python / Flask
# ===============================
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

config.py

# ===============================
# API Keys / Credentials
# ===============================
*.json

# ===============================
# Flask
# ===============================
instance/
*.sqlite3

node_modules/
dist/
build/

# ===============================
# OS / Editor
# ===============================
.DS_Store
Thumbs.db
.vscode/
.idea/
